.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

obj/*
bin/*
bin
obj

/Data/collection
/Data/artist
/Data/collection_match
/Data/artist_collection

MusicData/.vs/
MusicData/MusicData/Data/